#highscore-lists {
    width: 70%;
    float: left;
}

.highscore-list {
    position: relative;
    margin: 0 auto;
}
    .highscore-list-border {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
    }
        .highscore-list-name {
            position: absolute;
            width: 100%;
         }

#mitarbeiter_des_monats {
    margin-top: 160px;
    float: left;
    margin-left: 700px;
    height: 615px;
    width: 700px;
}
    #mitarbeiter_des_monats-border {
        background-image: url("../img/mitarbeiter_des_monats.svg");
    }
        #mitarbeiter_des_monats-name {
            font-size: 4em;
            font-weight: bold;
            font-style: italic;
            top: 39%;
            text-align: center;
        }
        #mitarbeiter_des_monats-points {
            bottom: 11%;
            width: 100%;
            font-size: 4em;
            font-weight: bold;
            font-style: italic;
            text-align: center;
            position: absolute;
            transform: rotate(4deg);
        }

#der_rest {
    margin-top: 120px;
    float: left;
    height: 400px;
    width: 400px;
    left: 2%;
}
    #der_rest-zettel {
        background-image: url("../img/der_rest.svg");
    }
        #der_rest-name {
            top: 15%;
            left: 25%;
            font-family: "Courier New", "Nueva Std", sans;
        }
        #der_rest-name table {
            transform: rotate(11deg);
            line-height: 30px;
            list-style-type: none;
        }
            #der_rest-name td {
                padding: 0 6px;
            }

/*
#zurueck-button {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/zurueck-button_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
*/