body {
    padding:0;
    margin:0;
    font-family: sans-serif
}
.debug-grid.hidden {
    display:none !important;

}

.debug-panel {
    position:fixed;
    z-index:100000;
    top:20px;
    right:20px;
    width:160px;
    padding:8px;
    background-color: #5e5e5e;
    color: #eeeeee;
}
.debug-panel {

}
