

* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
}

canvas {
    /*display: none;*/
}

.debug-grid.hidden {
    display:none !important;

}

.debug-panel {
    position:fixed;
    z-index:100000;
    top:20px;
    right:20px;
    width:160px;
    padding:8px;
    background-color: #5e5e5e;
    color: #eeeeee;
}

div.menu {
    width: 800px;
    height: 600px;
    background-image: url("../img/BackgroundMenu.jpg");
    margin:0 auto;
    text-align: center;
    border: 1px solid #000000;
}

ul.buttons {
    padding-top: 200px;
    padding-right: 20px;
    width: 183px;
    display: block;
    margin: 0 auto;
}

ul.buttons li {
    list-style: none;
    margin-bottom: 17px;
    padding: 10px 15px;
    cursor: pointer;
    opacity: 0.9;
}

ul.buttons li:hover {
    opacity: 1.0;
}
